/* to place your footnotes near where you cite them in the text */
/* change the number of pixels.*/

/* create as many footnote references as you use in your project*/

/* make the number of the footnote match with the associated*/
/* footnote in your project's text*/

.footnote-ref-1{
  top: 200px;
}

.footnote-ref-2{
  top: 300px;
}

.footnote-ref-3{
  top: 470px;
}
